<!DOCTYPE html>
<html lang="en">

<head>

    <HeadOutlet />
    <base href="/" />
</head>




<body>

    <Routes />

     <SectionOutlet SectionName="Frontend-Files" />

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
